<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code Plagiarism Checker</title>
    <!-- Bootstrap links -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../homepage.css">
</head>

<body>
    <header>
        <nav class="navbar bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="color:white;">Code Plagiarism Checker</span>
            </div>
        </nav>
    </header>
    <main style="width:100%;">
        <h2 style="display:flex;justify-content: center;align-items: center;margin-top: 20px;">
            <ul style="margin-right:20px;">Kindly Upload Text File</ul>
            <ul>
                <li style="margin-right:20px;margin-left: 20px;">Click on Submit</li>
            </ul>
            <ul>
                <li style="margin-left: 20px;">Check the Estimated Groups</li>
            </ul>
        </h2>
        <!-- <h6 style="display:flex;justify-content: center;align-items: center;">
            <ul>Amey Agarwal</ul>
            <ul>
                <li>Faiz Khan</li>
            </ul>
            <ul>
                <li>Kevin Suvarna</li>
            </ul>
        </h6> -->
        <!-- <div style="width:40%;float:right;">
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Strictness of Checking
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" value="0.3">0.3</a></li>
                        <li><a class="dropdown-item" value="0.6">0.6</a></li>
                        <li><a class="dropdown-item" value="0.9">0.9</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <form>
            <div style="width:100%;">
                <div style="width:80%;display:flex;justify-content: center;align-items: center;margin-left: 50px;">
                    <!-- <input class="choosefilebutton1" type="file" id="myFile1" name="filename1" accept=".zip"> -->
                    <label for="" class="drop-container">
                        <span class="drop-title">Upload files here</span>
                        <!-- or -->
                        <input type="file" name="file" id="files" multiple>

                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <%= languageChosen %>
                            </button>
                            <ul class="dropdown-menu" style="text-align: center;">
                                <li onclick="languageselect(1)">Java&emsp;&emsp;<span id="includeJava" class="visibility-div">✔️</span></li>
                                <li onclick="languageselect(2)">Python&ensp;&ensp;<span id="includePython" class="visibility-div">✔️</span></li>
                                <li onclick="languageselect(3)">C&emsp;&emsp;&emsp;<span id="includeC" class="visibility-div">✔️</span></li>
                            </ul>
                          </div>

                    </label>
                    <!-- <div style="color:black;">
                            <p id="fileText1"></p></div> -->
                    <div style="width:60%;margin-left:20px;" id="group">
                    </div>
                </div>
            </div>
            <div>
                <button id="button" type="submit">SUBMIT</button>
                <!-- <h1>Estimated Checking Time</h1> -->
            </div>
        </form>
        <section>
            <nav class="navbar bg-dark">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1" style="color:white;">Analysis of Uploads</span>
                </div>
            </nav>

            <div style="display: flex;">
                <div style="width:40%">
                    <div style="margin-left:20px;margin-top: 20px;" id="group2">
                        <!-- <p><a class="btn style-btn" data-bs-toggle="collapse" href="#multiCollapseExample0" role="button" aria-expanded="true" aria-controls="multiCollapseExample0">Group 0</a></p>
                        <div>
                            <div class="col">
                              <div class="multi-collapse collapse show" id="multiCollapseExample0" style="">
                                <div class="card card-body " style="display: flex; flex-direction: column; gap: 10px;">
                                    <p>Text1</p>
                                    <div class="button-container" style="display: flex; justify-content: space-between; flex-wrap: nowrap; width: 100%;overflow-x: auto;">
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text1 - text2</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text1 - text3</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text1 - text4</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text1 - text5</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text1 - text6</a>
                                    </div>
                                    <p>Text2</p>
                                    <div class="button-container" style="display: flex; justify-content: space-between; flex-wrap: nowrap; width: 100%;overflow-x: auto;">
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text2 - text3</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text2 - text4</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text2 - text5</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text2 - text6</a>
                                    </div>
                                    <p>Text3</p>
                                    <div class="button-container" style="display: flex; justify-content: space-between; flex-wrap: nowrap; width: 100%;overflow-x: auto;">
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text3 - text4</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text3 - text5</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text3 - text6</a>
                                    </div>
                                    <p>Text4</p>
                                    <div class="button-container" style="display: flex; justify-content: space-between; flex-wrap: nowrap; width: 100%;overflow-x: auto;">
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text4 - text5</a>
                                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;">text4 - text6</a>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>   -->
                    </div>
                </div>
                <div style="width: 60%;margin-left:20px;margin-top: 20px;justify-content: center;align-items: center;" id="analysis">
                    <h5 style="color: gray;">Click on pairs for analysis</h5>
                </div>
            </div>
        </section>
    </main>
    <!-- <button style="position:inherit;" class="uploadbutton1" type="submit" onclick="upload1()">Upload1</button> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script> -->
    <script>
        var check = 1;
        function languageselect(ch){
            if (ch==1){
                document.getElementById("includeJava").classList.remove("visibility-div");
                document.getElementById("includePython").classList.add("visibility-div");
                document.getElementById("includeC").classList.add("visibility-div");
                check = 1;
            }
            if (ch==2){
                document.getElementById("includeJava").classList.add("visibility-div");
                document.getElementById("includePython").classList.remove("visibility-div");
                document.getElementById("includeC").classList.add("visibility-div");
                check = 2;
            }
            if (ch==3){
                document.getElementById("includeJava").classList.add("visibility-div");
                document.getElementById("includePython").classList.add("visibility-div");
                document.getElementById("includeC").classList.remove("visibility-div");
                check = 3;
            }
        }

        function groupItems(arg) {
            let items = "";
            for (let i = 0; i < arg.length; i++) {
                // items += `<li>${arg[i]}</li>`;
                items += `
                <p><a class="btn style-btn" data-bs-toggle="collapse" href="#multiCollapseExample${i + 1}" role="button" aria-expanded="false" aria-controls="multiCollapseExample${i + 1}">Group ${i + 1}</a></p>
                          <div>
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample${i + 1}">
                                <div class="card card-body">
                                    ${arg[i]}
                                </div>
                              </div>
                            </div>
                          </div>
                `;
            }
            return items;
        }

        function generatePairs(arr) {
                let result = [];
                let n = arr.length;
                
                for (let i = 0; i < n; i++) {
                    let pairs = [];
                    for (let j = i + 1; j < n; j++) {
                        pairs.push(`${arr[i]}-${arr[j]}`);
                    }
                    if (pairs.length > 0) {
                        result.push(pairs);
                    }
                }
                
                return result;
            }

            function groupItemsAnalysis(arg) {
                let items = "";
                for (let i = 0; i < arg.length; i++) {
                    let pairs = generatePairs(arg[i]);
                    console.log("Gen Pair "+i+": ",pairs)
                    items += `
            <p><a class="btn style-btn" data-bs-toggle="collapse" href="#multiCollapseExample${i + 1}" role="button" aria-expanded="false" aria-controls="multiCollapseExample${i + 1}">Group ${i + 1}</a></p>
            <div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample${i + 1}">
                <div class="card card-body" style="display: flex; flex-direction: column; gap: 10px;">
                    ${arg[i].map((text, index) => `
                    <p>${text}</p>
                    ${pairs[index] ? `
                    <div class="button-container" style="display: flex; justify-content: space-between; flex-wrap: nowrap; width: 100%; overflow-x: auto;">
                    ${pairs[index].map(pair => `
                        <a class="btn style-btn" role="button" style="flex: 1; margin: 0 10px; white-space: nowrap; text-align: center;" onclick="docCompare('${pair}')">${pair}</a>
                    `).join('')}
                    </div>` : ''}
                    `).join('')}
                </div>
                </div>
            </div>
            </div>`;
                }
                return items;
            }

        function docCompare(pair){
            console.log(pair)
            getCode(pair)
        }

        function getCode(pair){
            item = []
            const formData = new FormData();
            formData.append("pair", pair);
            var data={docs:pair};
            fetch('http://127.0.0.1:5000/analysis', {
                method: 'POST',
                body: formData, // Payload is formData object
            })
                .then(res => res.json())
                .then(data => {
                    //console.log("doccompare.ejs:",data)
                    // document.getElementById("analysis").innerHTML = `
                    //     ${groupItemsAnalysis(data)}
                    //     `;
                    item = [data[0],data[1],data[2]]
                    file1_html = item[0]
            file2_html = item[1]
            similarities = item[2]
            pairlist = pair.replace(/\s/g, "").split("-")

            extraitem = ""
            for(let i =0; i<similarities.length; i++){
                extraitem += `
                <div class="bar-container" style="width: 100%;background-color: #ddd;border-radius: 5px;margin-bottom: 10px;overflow: hidden;">
                    <div class="bar" id="bar${i+1}" style="width:0%;height: 30px;background-color: red;text-align: right;line-height: 30px;color: white;border-radius: 5px;"><span class="number" id="number${i+1}" style="padding-left: 10px;font-weight: bold;">0</span></div>
                </div>`;
            }
            document.getElementById("analysis").innerHTML = `
                <div class="container" style="display: flex;justify-content: space-between;">
                    <div style="width: 48%;">
                        <span style="background-color:black;color:white;justify-content:center;align-items:center;display: flex;">${pairlist[0]}</span>
                    </div>
                    <div style="width: 48%;">
                        <span style="background-color:black;color:white;justify-content:center;align-items:center;display: flex;">${pairlist[1]}</span>
                    </div>
                </div>
                <div class="container" style="display: flex;justify-content: space-between;">
                    <div class="code-box" style="width: 48%;height: 500px;overflow-y: scroll;white-space: pre-wrap;background-color: #f5f5f5;padding: 10px;border: 1px solid #ddd;box-sizing: border-box;">${file1_html}</div>
                    <div class="code-box" style="width: 48%;height: 500px;overflow-y: scroll;white-space: pre-wrap;background-color: #f5f5f5;padding: 10px;border: 1px solid #ddd;box-sizing: border-box;">${file2_html}</div>
                </div>
                <div>
                    <div class="container2" style="width: 100%;padding: 20px;">
                        <h3>Similarities detected in order:</h3>
                        ${extraitem}
                    </div>
                </div>`;
                for(let i =0; i<similarities.length; i++){
                    animateBar('bar'+(i+1), 'number'+(i+1), similarities[i], 2000);
                }
                    //console.log(item)
                });
            //return item
        }

        function animateBar(barId, numberId, value, duration) {
            let bar = document.getElementById(barId);
            let number = document.getElementById(numberId);
            let start = 0;
            let end = value;
            let increment = end / (duration / 10);

            function updateBar() {
                start += increment;
                if (start >= end) {
                    start = end;
                    clearInterval(interval);
                }
                bar.style.width = start + "%";
                number.textContent = start.toFixed(2);
            }
            
            let interval = setInterval(updateBar, 10);
        }

        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            // Prevents HTML handling submission
            //const name = document.getElementById("name");
            const files = document.getElementById("files");
            const formData = new FormData();
            // Creates empty formData object
            //formData.append("name", name.value);
            // Appends value of text input
            for (let i = 0; i < files.files.length; i++) {
                formData.append("files", files.files[i]);
            }
            console.log(formData)
            console.log(...formData);
            formData.append("files",check);
            console.log('formData:',formData)
            console.log(...formData);
            // Appends value(s) of file input
            // Post data to Node and Express server:
            fetch('http://127.0.0.1:5000/api', {
                method: 'POST',
                body: formData, // Payload is formData object
                checked: check,
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    document.getElementById("group").innerHTML = `
                        ${groupItems(data)}
                        `;
                    document.getElementById("group2").innerHTML = `
                        ${groupItemsAnalysis(data)}
                        `;
                    //document.getElementById("group").textContent = data;

                });
        })
    </script>
</body>


</html>